<%
  content_for(
    :autodiscovery_link,
    auto_discovery_link_tag(:rss, feed_photos_url(format: :xml), title: Setting.site_name + ' - Photos RSS') + "\n    " +
    auto_discovery_link_tag(:rss, feed_albums_url(format: :xml), title: Setting.site_name + ' - Albums RSS')
  )
%>
<div>
  <h1>Latest photo</h1>
  <a href="<%= photo_path(@latest_photo) %>">
    <img src="<%= @latest_photo.image_url(:extralarge) %>" />
  </a>
  <div>
    <div>
      <a href="<%= photo_path(@latest_photo) %>"><span><%= @latest_photo.name %></span></a>
    </div>
    <div>
      <a href="<%= photos_path %>">See all photos...</a>
    </div>
  </div>
</div>
<hr>
<div>
  <div>
    <div>
      <h1>Random photo</h1>
      <a href="<%= photo_path(@random_photo) %>">
        <img src="<%= @random_photo.image_url(:large) %>" />
        <%= @random_photo.name %>
      </a>
    </div>
    <div>
      <h2>Most used tags</h2>
      <div>
        <% @most_used_tags.each_with_index do |tag, index| %>
          <div>
            <div>
              <a href="<%= tag_path(tag) %>"><%= tag.name %></a>
              <span><%= tag.taggings_count %></span>
            </div>
          </div>
        <% end %>
      </div>
      <a href="<%= tags_path %>">See tags page...</a>
    </div>
  </div>
</div>
