<% content_for(:page_title, "Album: #{@album.title}" + (@pagy.page == 1 ? '' : " - Page #{@pagy.page}")) %>
<h1>Album: <%= @album.title %></h1>
<hr>
<% if @album.description.present? %>
<div><%= @album.description %></div>
<% end %>
<div>
  <% @photos.each do |photo| %>
    <div>
      <a href="<%= photo_path(photo) %>">
        <img src="<%= photo.image_url(:medium_intelligent).presence || photo.image_url(:medium_square) %>" />
        <%= photo.title %>
      </a>
    </div>
  <% end %>
</div>
<hr>
<%== pagy_bulma_nav(@pagy) %>
