<% content_for(:page_title, 'Tags') %>
<h1 class="title">Tags</h1>
<hr class="is-hidden-touch mt-2 mb-4">
<h2 class="title is-4">Most used</h2>
<div class="field is-grouped is-grouped-multiline mb-2">
  <% @most_used.each_with_index do |tag, index| %>
    <div class="control">
      <div class="tags has-addons">
        <a href="<%= tag_path(tag) %>" class="tag has-background-grey-lighter"><%= tag.name %></a>
        <span class="tag"><%= tag.taggings_count %></span>
      </div>
    </div>
  <% end %>
</div>
<h2 class="title is-4">Least used</h2>
<div class="field is-grouped is-grouped-multiline mb-2">
  <% @least_used.each_with_index do |tag, index| %>
    <div class="control">
      <div class="tags has-addons">
        <a href="<%= tag_path(tag) %>" class="tag has-background-grey-lighter"><%= tag.name %></a>
        <span class="tag"><%= tag.taggings_count %></span>
      </div>
    </div>
  <% end %>
</div>
<h2 class="title is-4">Most used AI tags</h2>
<div class="field is-grouped is-grouped-multiline mb-2">
  <% @rekognition_most_used.each_with_index do |tag, index| %>
    <div class="control">
      <div class="tags has-addons">
        <a href="<%= tag_path(tag) %>" class="tag has-background-grey-lighter"><%= tag.name %></a>
        <span class="tag"><%= tag.taggings_count %></span>
      </div>
    </div>
  <% end %>
</div>
<h2 class="title is-4">Least used AI tags</h2>
<div class="field is-grouped is-grouped-multiline mb-2">
  <% @rekognition_least_used.each_with_index do |tag, index| %>
    <div class="control">
      <div class="tags has-addons">
        <a href="<%= tag_path(tag) %>" class="tag has-background-grey-lighter"><%= tag.name %></a>
        <span class="tag"><%= tag.taggings_count %></span>
      </div>
    </div>
  <% end %>
</div>
