<% content_for(:page_title, 'Tags') %>
<h1>Tags</h1>
<hr>
<h2>Most used</h2>
<div>
  <% @most_used.each_with_index do |tag, index| %>
    <div>
      <div>
        <a href="<%= tag_path(tag) %>"><%= tag.name %></a>
        <span><%= tag.taggings_count %></span>
      </div>
    </div>
  <% end %>
</div>
<h2>Least used</h2>
<div>
  <% @least_used.each_with_index do |tag, index| %>
    <div>
      <div>
        <a href="<%= tag_path(tag) %>"><%= tag.name %></a>
        <span><%= tag.taggings_count %></span>
      </div>
    </div>
  <% end %>
</div>
<h2>Most used AI tags</h2>
<div>
  <% @rekognition_most_used.each_with_index do |tag, index| %>
    <div>
      <div>
        <a href="<%= tag_path(tag) %>"><%= tag.name %></a>
        <span><%= tag.taggings_count %></span>
      </div>
    </div>
  <% end %>
</div>
<h2>Least used AI tags</h2>
<div>
  <% @rekognition_least_used.each_with_index do |tag, index| %>
    <div>
      <div>
        <a href="<%= tag_path(tag) %>"><%= tag.name %></a>
        <span><%= tag.taggings_count %></span>
      </div>
    </div>
  <% end %>
</div>
