<% content_for(:page_title, @photo.name) %>
<div>
  <div>
    <% if policy(@photo).update? %>
      <h1 id="photo-name" contenteditable="true" data-photo-slug="<%= @photo.slug %>"><%= @photo.name.presence || '(no title)' %></h1>
    <% else %>
      <h1><%= @photo.name.presence || '(no title)' %></h1>
    <% end %>
  </div>
  <div>
    <% if @photo.prev %>
      <div>
        <a href="<%= photo_path(@photo.prev) %>">
          <span><i></i></span> <span>Previous</span>
          <img src="<%= @photo.prev.image_url(:thumbnail_intelligent).presence || @photo.prev.image_url(:thumbnail_square) %>">
        </a>
      </div>
    <% end %>
    <% if @photo.next %>
      <div>
        <a href="<%= photo_path(@photo.next) %>">
          <img src="<%= @photo.next.image_url(:thumbnail_intelligent).presence || @photo.next.image_url(:thumbnail_square) %>">
          <span>Next</span> <span><i></i></span>
        </a>
      </div>
    <% end %>
  </div>
</div>
<hr>
<div>
  <div>
    <style>
      #image-wrapper {
        position: relative;
      }
      #image-wrapper > img {
        vertical-align: top;
        width: 100%;
        opacity: 0;
      }
      #image-wrapper > .labels {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: 0.3s;
      }

      #image-wrapper:hover > .labels {
        opacity: 1;
      }

      .label {
        cursor: pointer;
        border: 2px dotted green; position: absolute;
        transition: 0.3s;
      }

      .label:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }

      .label > p {
        font-size: 10px;
      }
    </style>
    <div id="image-wrapper" style="background: no-repeat url(<%= @photo.image_url(:large) %>) 50% / 100%">
      <img src="<%= @photo.image_url(:large) %>" />
      <% if @photo.label_instances.present? %>
        <div>
          <% @photo.label_instances.each do |li| %>
            <div style="top: <%= li.bounding_box.top * 100 %>%; left: <%= li.bounding_box.left * 100 %>%; width: <%= li.bounding_box.width * 100 %>%; height: <%= li.bounding_box.height * 100 %>%;">
              <p><%= li.name %></p>
            </div>
          <% end %>
          <% if @photo.intelligent_thumbnail %>
            <div style="border: 3px solid red; position: absolute; top: <%= @photo.label_instance_collection.center_of_gravity[:top] * 100 %>%; left: <%= @photo.label_instance_collection.center_of_gravity[:left] * 100 %>%; width: 2px; height: 2px;"></div>
            <div style="border: 1px solid blue; position: absolute; top: <%= @photo.intelligent_thumbnail[:top] * 100 %>%; left: <%= @photo.intelligent_thumbnail[:left] * 100 %>%; width: <%= @photo.intelligent_thumbnail[:width] * 100 %>%; height: <%= @photo.intelligent_thumbnail[:height] * 100 %>%;"></div>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if @photo.description.presence || policy(@photo).update? %>
      <h2>Description</h2>
      <div>
        <% if policy(@photo).update? %>
          <div id="photo-description" contenteditable="true" data-photo-slug="<%= @photo.slug %>"><%= @photo.description.presence || '(no description)' %></div>
        <% else %>
          <%= @photo.description %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div id="sidebar">
    <% if @photo.albums.any? %>
      <h3><span><i></i></span> Albums</h3>
      <ul>
      <% @photo.albums.each do |album| %>
        <li>
          <h4><a href="<%= album_path(album) %>"><%= album.title %></a></h4>
          <div>
            <div>
              <% if(@prev = @photo.prev_in_album(album)) %>
                <a href="<%= photo_path(@prev) %>">
                  <img src="<%= @prev.image_url(:thumbnail_intelligent).presence || @prev.image_url(:thumbnail_square) %>">
                  <span>
                    <span><i></i></span>
                    <span>Previous</span>
                  </span>
                </a>
              <% else %>
                <button disabled>
                  <span><i></i></span> <span>Previous</span>
                </button>
              <% end %>
            </div>
            <div>
              <% if(@next = @photo.next_in_album(album)) %>
                <a href="<%= photo_path(@next) %>">
                  <img src="<%= @next.image_url(:thumbnail_intelligent).presence || @next.image_url(:thumbnail_square) %>">
                  <span>
                    <span>Next</span>
                    <span><i></i></span>
                  </span>
                </a>
              <% else %>
                <button disabled>
                  <span>Next</span> <span><i></i></span>
                </button>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
      </ul>
    <% end %>

    <h3><span><i></i></span> Date Taken</h3>
    <p><%= @photo.date_taken.strftime('%B %e, %Y') %></p>

    <h3><span><i></i></span> Date Posted</h3>
    <p><%= @photo.imported_at.strftime('%B %e, %Y') %></p>

    <h3><span><i></i></span> Tags</h2>
    <div>
      <% @tags.each do |tag| %>
        <a href="<%= tag_path(tag) %>"><%= tag.name %></a>
      <% end %>
    </div>

    <h3><span><i></i></span> AI Tags</h2>
    <div>
      <% @rekognition_tags.each do |tag| %>
        <a href="<%= tag_path(tag) %>"><span><i></i></span><%= tag.name %></a>
      <% end %>
    </div>
  </div>
</div>
