<% content_for(:page_title, @photo.name) %>
<div>
  <div>
    <h1><%= @photo.name.presence || '(no title)' %></h1>
  </div>
  <div>
    <% if @photo.prev %>
      <div>
        <a href="<%= photo_path(@photo.prev) %>">
          <span><i></i></span> <span>Previous</span>
          <img src="<%= @photo.prev.image_url(:thumbnail_intelligent).presence || @photo.prev.image_url(:thumbnail_square) %>">
        </a>
      </div>
    <% end %>
    <% if @photo.next %>
      <div>
        <a href="<%= photo_path(@photo.next) %>">
          <img src="<%= @photo.next.image_url(:thumbnail_intelligent).presence || @photo.next.image_url(:thumbnail_square) %>">
          <span>Next</span> <span><i></i></span>
        </a>
      </div>
    <% end %>
  </div>
</div>
<hr>
<div>
  <div>
    <div id="image-wrapper">
      <img src="<%= @photo.image_url(:large) %>" />
    </div>
    <% if @photo.description.presence %>
      <h2>Description</h2>
      <div>
        <%= @photo.description %>
     </div>
    <% end %>
  </div>
  <div id="sidebar">
    <% if @photo.albums.any? %>
      <h3><span><i></i></span> Albums</h3>
      <ul>
      <% @photo.albums.each do |album| %>
        <li>
          <h4><a href="<%= album_path(album) %>"><%= album.title %></a></h4>
          <div>
            <div>
              <% if(@prev = @photo.prev_in_album(album)) %>
                <a href="<%= photo_path(@prev) %>">
                  <img src="<%= @prev.image_url(:thumbnail_intelligent).presence || @prev.image_url(:thumbnail_square) %>">
                  <span>
                    <span><i></i></span>
                    <span>Previous</span>
                  </span>
                </a>
              <% else %>
                <button disabled>
                  <span><i></i></span> <span>Previous</span>
                </button>
              <% end %>
            </div>
            <div>
              <% if(@next = @photo.next_in_album(album)) %>
                <a href="<%= photo_path(@next) %>">
                  <img src="<%= @next.image_url(:thumbnail_intelligent).presence || @next.image_url(:thumbnail_square) %>">
                  <span>
                    <span>Next</span>
                    <span><i></i></span>
                  </span>
                </a>
              <% else %>
                <button disabled>
                  <span>Next</span> <span><i></i></span>
                </button>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
      </ul>
    <% end %>

    <h3><span><i></i></span> Date Taken</h3>
    <p><%= @photo.date_taken.strftime('%B %e, %Y') %></p>

    <h3><span><i></i></span> Date Posted</h3>
    <p><%= @photo.imported_at.strftime('%B %e, %Y') %></p>

    <h3><span><i></i></span> Tags</h2>
    <div>
      <% @tags.each do |tag| %>
        <a href="<%= tag_path(tag) %>"><%= tag.name %></a>
      <% end %>
    </div>

    <h3><span><i></i></span> AI Tags</h2>
    <div>
      <% @rekognition_tags.each do |tag| %>
        <a href="<%= tag_path(tag) %>"><span><i></i></span><%= tag.name %></a>
      <% end %>
    </div>
  </div>
</div>
