<% content_for(:page_title, @photo.name) %>
<div class="level mb-4">
  <div class="level-left">
    <% if policy(@photo).update? %>
      <h1 id="photo-name" class="title level-item" contenteditable="true" data-photo-slug="<%= @photo.slug %>"><%= @photo.name.presence || '(no title)' %></h1>
    <% else %>
      <h1 class="title level-item"><%= @photo.name.presence || '(no title)' %></h1>
    <% end %>
  </div>
  <div class="level-right">
    <% if @photo.prev %>
      <div class="level-item">
        <a href="<%= photo_path(@photo.prev) %>" class="button is-light">
          <span class="icon"><i class="fas fa-chevron-left"></i></span> <span>Previous</span>
          <img src="<%= @photo.prev.image_url(:thumbnail) %>" class="image is-24x24 ml-3">
        </a>
      </div>
    <% end %>
    <% if @photo.next %>
      <div class="level-item">
        <a href="<%= photo_path(@photo.next) %>" class="button is-light">
          <img src="<%= @photo.next.image_url(:thumbnail) %>" class="image is-24x24 mr-3">
          <span>Next</span> <span class="icon"><i class="fas fa-chevron-right"></i></span>
        </a>
      </div>
    <% end %>
  </div>
</div>
<hr class="is-hidden-touch mt-2 mb-4">
<div class="columns is-1">
  <div class="column is-three-quarters">
    <img src="<%= @photo.image_url(:large) %>" />
    <% if @photo.description.presence || policy(@photo).update? %>
      <h2 class="heading">Description</h2>
      <div class="content">
        <% if policy(@photo).update? %>
          <div id="photo-description" contenteditable="true" data-photo-slug="<%= @photo.slug %>"><%= @photo.description.presence || '(no description)' %></div>
        <% else %>
          <%= @photo.description %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div id="sidebar" class="column">
    <% if @photo.albums.any? %>
      <h3 class="heading"><span class="icon"><i class="fas fa-book"></i></span> Albums</h3>
      <ul class="block-list is-small has-radius pb-4">
      <% @photo.albums.each do |album| %>
        <li>
          <h4 class="is-size-6 mb-2"><a href="<%= album_path(album) %>"><%= album.title %></a></h4>
          <div class="columns is-variable is-1 is-mobile">
            <div class="column is-half">
              <% if(@prev = @photo.prev_in_album(album)) %>
                <a href="<%= photo_path(@prev) %>" class="button is-fullwidth is-image-button">
                  <img src="<%= @prev.image_url(:thumbnail) %>" class="image is-fullwidth mb-2">
                  <span class="icon-text is-hidden-desktop-only is-hidden-tablet-only">
                    <span class="icon"><i class="fas fa-chevron-left"></i></span>
                    <span>Previous</span>
                  </span>
                </a>
              <% else %>
                <button class="button is-fullwidth" disabled>
                  <span class="icon"><i class="fas fa-chevron-left"></i></span> <span>Previous</span>
                </button>
              <% end %>
            </div>
            <div class="column is-half">
              <% if(@next = @photo.next_in_album(album)) %>
                <a href="<%= photo_path(@next) %>" class="button is-fullwidth is-image-button">
                  <img src="<%= @next.image_url(:thumbnail) %>" class="image is-fullwidth mb-2">
                  <span class="icon-text is-hidden-desktop-only is-hidden-tablet-only">
                    <span>Next</span>
                    <span class="icon"><i class="fas fa-chevron-right"></i></span>
                  </span>
                </a>
              <% else %>
                <button class="button is-fullwidth" disabled>
                  <span>Next</span> <span class="icon"><i class="fas fa-chevron-right"></i></span>
                </button>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
      </ul>
    <% end %>

    <h3 class="heading"><span class="icon"><i class="fas fa-camera"></i></span> Date Taken</h3>
    <p class="content"><%= @photo.date_taken.strftime('%B %e, %Y') %></p>

    <h3 class="heading"><span class="icon"><i class="fas fa-arrow-circle-up"></i></span> Date Posted</h3>
    <p class="content"><%= @photo.imported_at.strftime('%B %e, %Y') %></p>

    <h3 class="heading"><span class="icon"><i class="fas fa-tag"></i></span> Tags</h2>
    <div class="tags">
      <% @tags.each do |tag| %>
        <a href="<%= tag_path(tag) %>" class="tag has-background-grey-lighter"><%= tag.name %></a>
      <% end %>
    </div>

    <h3 class="heading"><span class="icon"><i class="fas fa-robot"></i></span> AI Tags</h2>
    <div class="tags">
      <% @rekognition_tags.each do |tag| %>
        <a href="<%= tag_path(tag) %>" class="tag has-background-grey-lighter"><span class="icon"><i class="fas fa-robot"></i></span><%= tag.name %></a>
      <% end %>
    </div>
  </div>
</div>
