<% content_for(:page_title, 'Upload Photo') %>

<h1>Upload Photo</h1>

<div>
  <div>
    <%= form_for(@photo) do |f| %>
      <div>
        <%= f.label :name %>
        <div>
          <%= f.text_field :name, placeholder: 'Name' %>
        </div>
      </div>

      <%= f.hidden_field :image, value: @photo.cached_image_data %>
      <%= f.file_field :image %>

      <div>
        <%= f.submit 'Upload' %>
      </div>
    <% end %>
  </div>