<!DOCTYPE html>
<html>
  <head>
    <title><%= (yield(:page_title) + " - " unless yield(:page_title).blank?).to_s + "Photonia" %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <%= ENV['PHOTONIA_TRACKING_CODE']&.html_safe %>

    <%= javascript_tag nonce: true do %>
      window.configuration_json = <%= @configuration_json.html_safe %>
      window.gql_queries = <%= @gql_queries.html_safe %>
      <% if(@gql_cached_query) %>
        window.gql_cached_query = "<%= j(@gql_cached_query.html_safe) %>"
      <% end %>
      <% if(@gql_cached_result) %>
        window.gql_cached_result = <%= @gql_cached_result.html_safe %>
      <% end %>
    <% end %>
  </head>

  <body>
    <div id='app'>
      <section>
        <div>
          <%= yield %>
        </div>
      </section>
    </div>
  </body>
</html>
