<!DOCTYPE html>
<html>
  <head>
    <title>Photonia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script async defer data-domain="photos.rusiczki.net" src="http://link7.ro:8000/js/plausible.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
