<!DOCTYPE html>
<html>
  <head>
    <title><%= (yield(:page_title) + " - " unless yield(:page_title).blank?).to_s + Setting.site_name %></title>

    <%= render partial: 'layouts/opengraph' if @photo %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
    <%= ENV['PHOTONIA_TRACKING_CODE']&.html_safe %>

    <%= yield(:autodiscovery_link) %>

    <%= javascript_tag nonce: true do %>
      window.settings = <%= @settings.html_safe %>
      window.gql_queries = <%= @gql_queries.html_safe %>
      <% if(@gql_cached_query) %>
        window.gql_cached_query = "<%= j(@gql_cached_query.html_safe) %>"
      <% end %>
      <% if(@gql_cached_result) %>
        window.gql_cached_result = <%= @gql_cached_result.html_safe %>
      <% end %>
    <% end %>
  </head>

  <body>
    <div id='app'>
      <nav>
        <ul>
          <li><a href="<%= root_path %>"><%= Setting.site_name %></a></li>
          <li><a href="<%= photos_path %>">Photos</a></li>
          <li><a href="<%= albums_path %>">Albums</a></li>
          <li><a href="<%= tags_path %>">Tags</a></li>
        </ul>
      </nav>
      <section>
        <%= yield %>
      </section>
    </div>
    <div id='modal-root'></div>
  </body>
</html>
